@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* { 
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1{
    color:rgb(179, 131, 226);
    font-size: 8rem;
    text-align: center;
}

form{
    margin: auto;
    max-width:100%;
    width: 400px;
}

.input{
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.todos{
    background-color: #fff;
    list-style-type: none;
}

.todos li{
    border-top:1px solid #e5e5e5;
    font-size:1.5rem;
    padding: 1rem 2rem;
}

.todos li.completed{
    text-decoration: line-through;
}